run = "PYTHONPATH=$HOME/.local/lib/python3.11/site-packages python main.py"
entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["gitFull"]

[deployment]
build = ["sh", "-c", "pip install -r requirements.txt --break-system-packages"]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80

[agent]
expertMode = true
